*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
}

#section{
    /* border: 2px solid red; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.headerinfo{
    margin-left: 100px;
    margin-top: 30px;
}

#inputbox{
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 30px;
}

button{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 8px;
    border: none;
}

div{
    /* border: 2px solid red; */
    width: 300px;
    height: 300px;
    margin-top: 30px;
}

div img{
    width: 80%;
    height: 80%;
}